.navbar-menu .navbar-menu-main-link {
  color: var(--white-colour);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  --min-font: 20;
  --min-font-px: 20px;
  --max-font: 50;
  font-size: calc(
    var(--min-font-px) + (var(--max-font) - var(--min-font)) * var(--scalar)
  );
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

.navbar-menu .navbar-menu-footer:hover a,
.navbar-menu .navbar-menu-main:hover a {
  opacity: 0.5;
}
.navbar-menu .navbar-menu-footer a,
.navbar-menu .navbar-menu-main a {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
.navbar-menu .navbar-menu-footer a:hover,
.navbar-menu .navbar-menu-main a:hover {
  opacity: 1;
}

.navbar-menu.open {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.7s ease-in-out;
}

.navbar-menu-main {
  margin: auto;
}

.navbar-menu {
  background-color: var(--accent-colour);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: none;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.navbar-togmenubtn span,
.navbar-togmenubtn span:before,
.navbar-togmenubtn span:after {
  background-color: var(--accent-colour);
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 26px;
}

.navbar-togmenubtn span:before {
  top: 7px;
}

.navbar-togmenubtn span:after {
  top: -7px;
}

.navbar-togmenubtn.active span:before,
.navbar-togmenubtn.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
  background-color: var(--white-colour);
}

.navbar-togmenubtn.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

.navbar-togmenubtn.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-togmenubtn.active {
  background-color: var(--accent-colour);
}

.navbar-togmenubtn {
  background-color: var(--white-colour);
  height: 40px;
  width: 40px;
  z-index: 11;
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0;
  float: right;
  top: 10px;
  right: 10px;
  border: none;
}

.navbar-togmenubtn.hidden {
  display: none;
}

.navbar-menu .navbar-menu-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin: 0;
  margin-bottom: 20px;
  max-width: 800px;
  width: 80%;
}

.navbar-togmenubtn:hover span,
.navbar-togmenubtn:hover span:before,
.navbar-togmenubtn:hover span:after {
  background-color: var(--white-colour);
}

.navbar-togmenubtn.active:hover {
  background-color: var(--white-colour);
}

.navbar-togmenubtn:hover.active span:before,
.navbar-togmenubtn:hover.active span:after {
  background-color: var(--accent-colour);
}

.navbar-menu-footer img {
  width: 100%;
}

@media (min-width: 800px) {
  .navbar-togmenubtn {
    display: none;
  }

  .navbar-menu {
    background-color: var(--accent-colour);
    height: 50px;
    position: fixed;
    visibility: visible;
    width: 100vw;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar-menu .navbar-menu-footer {
    display: none;
  }

  .navbar-menu .navbar-menu-main {
    /* autoprefixer: ignore next */
    display: contents;
  }

  .navbar-menu .navbar-menu-main-link{
    --min-font: 15;
    --min-font-px: 15px;
    --max-font: 20;
  }

  .navbar-menu.open {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
